@import "./index.css";

.container {
  max-width: 500px;
  padding: 1.1em;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2em;
  border-bottom: 3px solid white;
  border-top: 3px solid white;
  min-width: 320px;
}

.header span {
  font-size: 1.5em;
}

.message-container {
  margin: 15px 0;
  min-height: 500px;
  max-height: 500px;
  min-width: 320px;
  border: 3px solid transparent;
  border-radius: 10px;
  padding: 1em;
  background-color: var(--message-bg-color);
  overflow: auto;
}

.message {
  width: fit-content;
  max-width: 200px;
  margin: 8px 0;
  border-radius: 6px;
  overflow-wrap: break-word;
}

.message p {
  padding: 5px;
}

.send-message {
  min-width: 320px;
  display: flex;
  justify-content: space-around;
}

.send-message input {
  height: 2em;
  width: 18em;
}

.send-message button {
  margin-left: 15px;
  height: 2em;
}

.sender {
  background-color: #860000;
}

.receiver {
  background-color: #555555;
}
