.container {
  max-width: 500px;
  padding: 1.1em;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2em;
  border-bottom: 3px solid white;
  min-width: 320px;
}

.header span {
  font-size: 1.5em;
}

.message-container {
  margin: 15px 0;
  max-height: 750px;
  border: 3px solid red;
  padding: 1em;
}

.message {
  width: fit-content;
  max-width: 200px;
  margin: 8px 0;
  border-radius: 6px;
}

.message p {
  padding: 5px;
}

.sender {
  background-color: #860000;
}

.receiver {
  background-color: #555555;
}
